<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.arpigi.fichaTormenta.activity">

    <application
        android:name="br.arpigi.fichaTormenta.util.App"
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".PericiasActivity"></activity>
        <activity android:name=".CombateActivity" />
        <activity android:name=".ListaMagiasActivity" />
        <activity
            android:name=".ListaTalentosActivity"
            android:label="@string/title_activity_lista_talentos"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".DescricaoPersonagemActivity" />
        <activity android:name=".SelecaoClasseActivity" />
        <activity android:name=".CriacaoPersonagemActivity" />
        <activity android:name=".ListaPersonagensActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>